@model ResourceGuide.Models.ChangeTimeZoneViewModel
@{
    ViewBag.Title = "Change Time Zone";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangeTimeZone", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("TimeZone", Model.TimeZone, new { @class = "searchable-select" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change time zone" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
